<a href="https://colab.research.google.com/github/vipin0761/Data_Science/blob/main/pandas_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
s = df['Name'][0:10]

In [ ]:
len(s)

10

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
l = ['sudh','b','c','d','e','f','g','h','i','j']

In [ ]:
s1 =pd.Series(list(s),index=l) # custom indexing for a series
s1[0] # it will still follow the internal indexing along with the new indexing

'Braund, Mr. Owen Harris'

In [ ]:
s1['c'] # named indexing

'Heikkinen, Miss. Laina'

In [ ]:

s2 = s1.append(s) # combining series

<ipython-input-11-fbe6a73a1c7c>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

### Drop and Fill NA cells

In [ ]:
df.drop('PassengerId',axis=1,inplace=True) # dropping entries axis = 0 --  rows and axis = 1 -- column
# inplace =  true -- change is permanent

In [ ]:
df.drop(3,inplace=True) # dropping rows

In [ ]:
df.set_index("Name",inplace=True) # setting a column as index

df.reset_index() #  reset index

In [ ]:
df.dropna(axis=1) # drop columns that have na values
# axis = 0 will drop rows with na values

In [ ]:
df.dropna(inplace=True) # permanently delete na rows

In [ ]:
df.fillna("sudh") #  replace na  with a value

### group by

In [ ]:
g = df.groupby('Survived') # group data by a column

In [ ]:
g

In [ ]:
g.sum()

/tmp/ipykernel_103/1197020669.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.sum()

          Pclass       Age  SibSp  Parch        Fare
Survived
0           1390  12985.50    304    181  12142.7199
1            666   8184.67    161    159  16498.1294

In [ ]:
g.mean()
g.max()
g.max().T  # transpose the output
g1.max().transpose()  # transpose the output

### Concatenating and Merging data Frames

In [ ]:
df5 = df[['Name',	'Survived',	'Pclass']][0:5]

In [ ]:
df6 = df[['Name',	'Survived',	'Pclass']][5:10]

In [ ]:
df7 = pd.concat([df5,df6],axis=1) # axis --1 column wise operation , 0-- row wise operation

In [ ]:
pd.merge(data1,data2) # inner join between data1 and data2 with auto selection of common columns

pd.merge(data1,data2,how = 'left') # left join (picks everything from data1)

pd.merge(data1,data2,how = 'right') # right join (picks everything from data2)

pd.merge(data1,data2,how = 'outer',on = 'key1') # outer join -- mereges each row from data1 and data2
# on defines the column used to merge the data sets

pd.merge(data1,data2,how = 'cross') # cretes a cartesian product of data1 and data2

### Join data frames

join is similar to merge but this is operating on a per row basis rater than a per column basis

In [ ]:
data1 = pd.DataFrame({'key1':[1,2,4,5,6],
                      'key2':[4,5,6,7,8],
                      'key3':[3,4,5,6,6]},
                     index = ['a','b','c','d','e']
)

In [ ]:
data2 = pd.DataFrame({'key11':[1,2,4,5,6],
                      'key22':[4,5,6,7,8],
                      'key33':[3,4,5,6,6]
},index=['a','b','h','i','j']
)

In [ ]:
data1.join(data2)  # left join by default

   key1  key2  key3  key11  key22  key33
a     1     4     3    1.0    4.0    3.0
b     2     5     4    2.0    5.0    4.0
c     4     6     5    NaN    NaN    NaN
d     5     7     6    NaN    NaN    NaN
e     6     8     6    NaN    NaN    NaN

In [ ]:
data1.join(data2,how='right')

data1.join(data2,how='inner')

data1.join(data2,how='outer')

data1.join(data2,how='cross')

## apply operations

In [ ]:
df['Fare_INR'] = df['Fare'].apply(lambda x : x*80)

In [ ]:
def euro_inr(x):
    return x*80

df['Fare_INR'] = df['Fare'].apply(euro_inr)

In [ ]:
df['name_len'] = df['Name'].apply(len)

In [ ]:
def cat_fare(x):
    if x<10 :
        return "cheap"
    elif x>=10 and x<20:
        return 'mid'
    else :
        return 'high'

In [ ]:
df['car_fare'] = df['Fare'].apply(cat_fare)