### Feature Scaling

##### 1. Standardization
done with z-score

In [2]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset('tips')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df[['total_bill','tip']])
scaled_df = pd.DataFrame(scaled_data, columns = ['total_bill', 'tip'])
scaled_df.head()

   total_bill       tip
0   -0.314711 -1.439947
1   -1.063235 -0.969205
2    0.137780  0.363356
3    0.438315  0.225754
4    0.540745  0.443020

##### 2. Min-Max Scaling

In [3]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_data1 = scaler.fit_transform(df[['total_bill','tip']])
scaled_df1 = pd.DataFrame(scaled_data1, columns= ['total_bill', 'tip'])
scaled_df1.head()

   total_bill       tip
0    0.291579  0.001111
1    0.152283  0.073333
2    0.375786  0.277778
3    0.431713  0.256667
4    0.450775  0.290000

##### 3. Normalization

In [4]:
from sklearn.preprocessing import Normalizer

scaler = Normalizer()
scaled_data = scaler.fit_transform(df[['total_bill','tip']])
scaled_df = pd.DataFrame(scaled_data, columns= ['total_bill', 'tip'])
print(scaled_df.head())

   total_bill       tip
0    0.998238  0.059342
1    0.987357  0.158512
2    0.986407  0.164323
3    0.990372  0.138435
4    0.989395  0.145251

#### 4. Absolute Maximum Scaling

In [5]:
total_bill = df['total_bill']
total_bill = total_bill/max(total_bill)
total_bill.head()

0    0.334383
1    0.203503
2    0.413501
3    0.466050
4    0.483960
Name: total_bill, dtype: float64

#### 5. Robust Scaling

In [6]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
scaled_data = scaler.fit_transform(df[['total_bill','tip']])
scaled_df = pd.DataFrame(scaled_data, columns=['total_bill', 'tip'])
print(scaled_df.head())

   total_bill     tip
0   -0.074675 -1.2096
1   -0.691558 -0.7936
2    0.298237  0.3840
3    0.545918  0.2624
4    0.630334  0.4544