<a href="https://colab.research.google.com/github/vipin0761/Data_Science/blob/main/3.%20basics%20of%20data%20science/3.%20pandas_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

###  All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

In [ ]:
df = pd.read_csv("services.csv") # read csv files
df2 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")  # reading from a remote server
df1 = pd.read_excel("LUSID Excel - Setting up your market data.xlsx") # read excel files
df.head(3) # to read first n rows of the data default is 5
df.tail(3) # to read last n rows of the data default is 5


# Import the excel file and call it xls_file
excel_file = pd.ExcelFile('pandasEx.xlsx')

# View the excel_file's sheet names
print(excel_file.sheet_names)

# Load the excel_file's Sheet1 as a dataframe
df = excel_file.parse('Sheet1')
print(df)

# read 2nd sheet of an excel file
dataframe2 = pd.read_excel('SampleWork.xlsx', sheet_name = 1)

In [ ]:
import lxml
import pandas as pd
url_data = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html") #  read data from html sites

In [ ]:
df3.to_csv("players_data.csv",index=False) # write data to csv

In [ ]:
df['status']  # access a column in the table as a series ( which is equivalent to a list)
list(df['status'])
type(df['status'])

pandas.core.series.Series

In [ ]:
df[['status']]  # access a column in the table as a data frame
type(df[['status']])

pandas.core.frame.DataFrame

In [ ]:
df[['email','keywords','name']] # access a set of columns in the table as a data frame

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

### Viewing Data

In [ ]:
df.head(n=2) # top n rows of the series
df.tail(n=2) # last n rows of the series
df.describe() # basic statistical analysis of numerical columns

In [ ]:
df.dtypes # show data types of each column

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
df.dtypes == 'object' # all columns with object data

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

### Dealing with Rows and Columns in DataFrame

In [ ]:
# dropping columns and rows || axis = 0 --> rows
data.drop(["Team", "Weight"], axis = 1, inplace = True)

# Adding a new row to a DF
df = pd.concat([new_row, df]).reset_index(drop = True)

In [ ]:
df.dtypes[df.dtypes == 'object'].index # all columns headings object data

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [ ]:
df[df.dtypes[df.dtypes == 'object'].index].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [ ]:
df[df.dtypes[df.dtypes == 'float64'].index].head(3)

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250

In [ ]:
df[df.dtypes[df.dtypes == 'int64'].index].head(3)

   PassengerId  Survived  Pclass  SibSp  Parch
0            1         0       3      1      0
1            2         1       1      1      0
2            3         1       3      0      0

In [ ]:
df[['Ticket','Cabin']][4:11:2] # slicing in data frame

     Ticket Cabin
4    373450   NaN
6     17463   E46
8    347742   NaN
10  PP 9549    G6

In [ ]:
df['new_col'] = 0 # adding a new column with 0 value for each row

In [ ]:
df["new_col1"] = df['PassengerId'] + df['Pclass'] # creating a new column by combining existing columns

In [ ]:
pd.Categorical(df['Pclass'])  # analysing categorical data

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [ ]:
df['Cabin'].unique() # list of unique values in a column

In [ ]:
len(df[df['Age'] >18])

575

In [ ]:
df[df['Age'] >18].head(3) # records where age > 18

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
df[(df['Sex'] == 'female')  & (df['Fare'] > 32 )].head(3) # multiple filters with and

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C

In [ ]:
df[(df['Sex'] == 'felmale')  | (df['Fare'] > 32 )].head(3) # multiple filters with or

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [ ]:
df[df['Fare'] == max(df['Fare'])]['Name'] # specific column with max fare

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [ ]:
df.iloc[0:2,[0,1,2]] # iloc is used to extract specific row and columm number combination -- iloc[r_start:r_end, [col1,co2... coln]]

   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1

In [ ]:
df.loc[0:2,['PassengerId','Survived','Pclass']]

   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1
2            3         1       3

### Indexing and Selecting Data in Series

In [ ]:
import pandas as pd
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])

In [ ]:
data[1:3] # conventional slicing similar to list

b    2
c    3
dtype: int64

In [ ]:
data.loc['a':'c'] # loc uses assigned indexin values for slicing

a    5
b    2
c    3
dtype: int64

In [ ]:
data.iloc[1:3] # iloc is similar to loc but it jsut accepts numeric indices

b    2
c    3
dtype: int64

### Conversion Operation on Series

In [ ]:
# converting dtypes using astype
data["Salary"]= data["Salary"].astype(int)
data["Number"]= data["Number"].astype(str)

### indexing in python

* Dataframe.[ ] ; This function also known as indexing operator
* Dataframe.loc[ ] : This function is used for labels.
* Dataframe.iloc[ ] : This function is used for positions or integer based
* Dataframe.ix[] : This function is used for both label and integer based

In [ ]:
data = pd.read_csv("nba.csv", index_col ="Name")

#  indexing operator
first = data["Age"]
first = data[["Age", "College", "Salary"]]

### loc operator
first = data.loc["Avery Bradley"]
rows = data.loc[["Avery Bradley", "R.J. Hunter"]]

# retrieving two rows and three columns by loc method
first = data.loc[["Avery Bradley", "R.J. Hunter"],["Team", "Number", "Position"]]
# Extracting rows between two index labels
rows = data.loc["Avery Bradley":"Isaiah Thomas"]

# retrieving all rows and some columns by loc method
first = data.loc[:, ["Team", "Number", "Position"]]

### iloc operator
row2 = data.iloc[3]

# retrieving multiple rows by iloc method
row2 = data.iloc [[3, 5, 7]]

# retrieving two rows and two columns by iloc method
row2 = data.iloc [[3, 4], [1, 2]]

# retrieving all rows and some columns by iloc method
row2 = data.iloc [:, [1, 2]]

### ix operator
first = data.ix[1]
first = data.ix["Avery Bradley"]
x2 = data.ix[:4, 1:4]
x1 = data.ix[10:20, 'Height']

### Pandas Series.str.slice()

str.slice() method is used to slice substrings from a string present in Pandas series object.
Syntax: Series.str.slice(start=None, stop=None, step=None)

In [ ]:
# slicing till 2nd last element
data["Salary (int)"]= data["Salary"].str.slice(start=1, stop=-1, step=1)

In [ ]:
## column-slices of DataFrame

# Method 1: Slice Columns in pandas using reindex
df2 = df1.reindex(columns = ['c','b'])

# Method 2: Slice Columns in pandas using loc[]
# Syntax: [ : , first : last : step]
df2 = df1.loc[:, "b":"d":2]

# Method 3: Slice Columns in pandas using iloc[]
df2 = df1.iloc[:, 1:3:1]

### Iterating over rows and columns in Pandas DataFrame

In [ ]:
# iterating over rows using iterrows() function
for i, j in df.iterrows():
    print(i, j)
    print()

    # using iteritems() function to retrieve rows
for key, value in df.iteritems():
    print(key, value)
    print()

    # using a itertuples()
for i in df.itertuples():
    print(i)